body {
	background-image: url(people.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center bottom;
	background-color:white;
}

img.auto {
	height: auto;
}

img {
	height:	500px;
}

.gapless-inline-container {
    font-size: 0 !important;
	position: absolute;
	left :100px;
	top: 75px;
	min-width: 30px;
	min-height: 30px;
	width: 765px;
	height: 560px;
}
