body {
	background-image: url(people.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center bottom;
	background-color:white;
}

img.auto {
	height: auto;
}

img {
	height:	500px;
}

.gapless-inline-container {
    font-size: 0 !important;
}

/* DELETEME - cut up fragment images into vertical slices instead */
img.fragment {
    width: 100px;
}
